<!-- en la siguiente linea instancia la clase del componente cabecera -->
<!-- directivas estructurales direcctiva *ngIf=""lo que suceda entre las comillas es java script y si se cumple la condicion se muestra o se oculta en el ejemplo true se muestra false se oculta -->

<!-- Segunda directiva *ngFor se crea una variable local y el modo de asociar la variable que     temas es una variable que en el archivo app.component.ts se crea y es un array  -->

<!-- permite cambiar la apariencia de una elemento o usar un elemento en particular -->
<!--<router-outlet></router-outlet> esta instancia nos sirve para controlar la rutas de los componentes creados de la pagina-->

<app-cabecera></app-cabecera>

<div class="container">
<router-outlet></router-outlet>
</div>
<app-pie-pagina></app-pie-pagina>
