<!--<h1 *ngIf="true">Piensa Digital</h1>-->
<h1 *ngIf="mostrar; else ocultar">Piensa Digital</h1>

<ng-template #ocultar>
	<h1>Mi pàgina</h1>	
</ng-template>
<button class="btn btn-primary" (click)="muestra()">Muestra</button>

<h2>Temas</h2>
<ul>
	<li *ngFor="let tema of temas">{{tema}}</li>
</ul>

<p [ngClass]="claseCss">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

<button class="btn btn-primary" (click)="cambiarColor('azul')">Azul</button>
<button class="btn btn-danger" (click)="cambiarColor('rojo')">Rojo</button>
